<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Campaign manager{% endblock %}</title>
</head>
<body>
  <main>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    {% if errors %}
    <ul class="messages">
        {% for field, messages in errors.items %}
        <li class="error">{{ field }}: </li>
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'campaigns:index' %}">Campaigns</a> | 
        <a href="{% url 'campaigns:add' %}">Add Campaign</a> | 
      <a href="{% url 'logout' %}">logout</a>
    </p>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
